{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form>
        <p class="intro">{{ _("introduction") }}</p>
        <div class="row">
            <div class="col-6">
                <label for="startswith">{{ _("search-startswith") }}: </label><input type="text" id="startswith" name="startswith" value="{{ startswith }}"><br />
            </div>
            <div class="col-6">
                <label for="contains">{{ _("search-contains") }}: </label><input type="text" id="contains" name="contains" value="{{ contains }}"><br />
            </div>
        </div>
        <div class="row">
            <p>{{ _("filter-images-intro") }}</p>
            <div class="row">
                <input type="radio" name="images" id="images-none" value="None" {% if images == None %}checked{% endif %}>
                <label for="images-none">{{ _("filter-images-none") }}</label>
            </div>
            <div class="row">
                <input type="radio" name="images" id="images-false" value="False" {% if images == "False" %}checked{% endif %}>
                <label for="images-false">{{ _("filter-images-false") }}</label>
            </div>
            <div class="row">
                <input type="radio" name="images" id="images-true" value="True" {% if images == "True" %}checked{% endif %}>
                <label for="images-true">{{ _("filter-images-true") }}</label>
            </div>
        </div>

        <input class="btn btn-primary btn-block" type="submit" value="{{ _("search") }}" />
    </form>
    <div id="map"></div>

</div>
{% endblock %}

{% block scripts %}
<script>
    function getJSON (url, callback, errorCallback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            callback(xhr.response);
        } else {
            if ( errorCallback !== undefined ) {
                errorCallback(status, xhr.response);
            }
        }
        };
        xhr.send();
    };

    getJSON(
        'get_monuments?startswith={{ startswith }}&contains={{ contains }}&images={{ images }}',
        function(addressPoints) {
            var style = 'osm-intl';
            var server = 'https://maps.wikimedia.org/';

            // Create a map
            var map = L.map('map');
            map.setView([50, 16], 7);
            L.tileLayer(server + style + '/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        id: 'wikipedia-map-01',
                        attribution: '{{ _("map-copyright")|safe }}'
            }).addTo(map);
            
            var markers = L.markerClusterGroup();
            for (var i = 0; i < addressPoints.length; i++) {
                var a = addressPoints[i];
                var html = a[2];
                var marker = L.marker(new L.LatLng(a[0], a[1]), { title: a[3] });
                marker.bindPopup(html);
                markers.addLayer(marker);
            }
            map.addLayer(markers);
        }
    );
</script>
{% endblock scripts %}
