* {
	margin: 0;
}

:root {
	--main-font-color: #fff;
	--main-background-color: #337ab7;
	--secundary-background-color: #337a77;
}

.intro {
	padding-bottom: 20px;
}

.navbar {
	position: relative;
	top: 0;
	background: var(--main-background-color);
	padding: 20px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	display: flex;
	
	ul {
		display: flex;
		list-style: none;
		margin-top: 1px;

		li {
			padding: 0 10px;
		}
	}
	
	.navbar-brand {
		color: var(--main-font-color);
		font-size: 18px;
		line-height: 20px;
		font-weight: 560;
	}

	.navbar-logo {
		position: absolute;
		top: 0px;
		right: 20px;
	}
}

a {
	position: relative;
	text-decoration: none;
}

form {
	.row {
		padding-bottom: 15px;

		label {
			font-size: 1.2em;
		}
		
		input {
			padding-top: 15px;
			width: 80%;
		}
	}
}

.row {
	display: flex;
}

.col-6 {
	width: 50%;
}

.btn {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	border-radius: 5px;
}

.btn-primary {
	color: var(--main-font-color);
	background: var(--main-background-color);
}

.btn-primary:hover {
	background: var(--secundary-background-color) !important;
}

.btn-block {
	width: 100%;
}

.container {
	margin-left: 15px;
	margin-right: 15px;
}

#map { 
	height: 600px; 
	margin-top: 20px;
}

footer {
	display: block;
	margin:  0 auto;
	text-align: center;
	height: 50px;
	margin-top: 25px;
	padding: 15px;

	a {
		color: #337ab7;
		position: static !important;
	}
}

.redlink {
	color: #a55858;
}

.three-cols {
	word-wrap: break-word;
    column-gap: 2em;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}